@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family:  'Press Start 2P', cursive;
    height: 100vh;
    text-align: center;
    background-color: #ba8dee;
    overflow: hidden;
}

#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ba8dee;
    color: black;
}

.summary{
    font-size: 3rem;
    font-family: 'Bangers', cursive;
}

#btns{
    margin: 2rem 0;
}

.btn{
    cursor: pointer;
    color:#ffa835;
    border: none;
    margin: 1rem;
    padding: 1rem;
    background-color: #59b4ce;
}

#results{
    font-size: 1.6rem;;
    width: 390px;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

@media only screen and (max-width: 400px) {
    
    .btn{
        width: 200px;
        height: 1px;
        background-color: #ba8dee;
    }
    
    #results{
        flex-direction: column;
        text-align: center;
    }

    .counter{
        margin-top: 2rem;
    }
}